.main {
    padding-top: 1rem;
}

.title {
    font-size: var(--medium-size);
    font-weight: 600;
    margin-bottom: 20px;
}

.placements_flex {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.row_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #57CBC6;
}
.placements_flex_2{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.input_field {
    width: 100%;
    margin-bottom: 20px;
}

.input_name {
    font-size: var(--small-size);
    margin-bottom: 10px;
}

.input_entry {
    width: 100%;
    padding: 15px;
    color: var(--light-black);
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    outline: none;
}

.btn {
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--small-size);
    color: var(--light-white);
    background-color: var(--secondary-color);
}
.card {
    /* width: 28%; */
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-size: var(--small-size);
    cursor: pointer;
    border: 1px solid var(--light-grey);
    background-color: #F0F4F1;
}

.content_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: var(--small-size);
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content_table .thead .tr {
    background-color: var(--secondary-color);
    color: #ffffff;
    text-align: left;
    font-weight: 600;
}

.content_table .th,
.content_table .td {
    padding: 12px 15px;
}

.content_table .tbody .tr {
    border-bottom: 1px solid #dddddd;
}

.content_table .tbody .tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content_table .tbody .tr:last-of-type {
    border-bottom: 2px solid var(--secondary-color);
}
.placement_{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}